$blue: #9886FD;
$blueActive: #331FA3;

/* Для пагинации */
$lightBlueHover:#755efb;
$lightBlueActive: #755efb;


$red: #FF4D48;
$redHover: #BF5B58;
$redActive: #A61B17;
$lightRed: #fde6e4;

$grayBg: #F5F3F2;
$gray: #C7C9C7;
$grayHover: #f5f1f1;
$grayActive: #E9E9E9;
$btnsGray: #646464;

/* Чекбоксы */
$darkGray: #C4C4C4;
$darkGrayHover: #9D9D9D;
$darkGrayActive: #898989;

