
form {
  display: block;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.form-block {

}

.form-row {
  position: relative;
  width: 100%;
  background-color: #fff;
  
  + .form-row {
    margin-top: 30px;
  }

  &.special{
    margin-top: 44px;
  }

  &.file{
    width: 50%;
  }

  &.mini{
    width: 30%;
    max-width: 323px;

    + .mini{
      margin-left: 26px;
      margin-top: 0;
    }
  }

  .input-text {
    color: #000;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
  }

  .input-btn{
    position: absolute;
    top: 32px;
    right: -30px;

    &.load{
      top: 22px;
      right: -149px;
      width: 139px;
    }
  }

  /* Прячем под обычный инпут в том же form-row*/
  .input-file{
    position: absolute;
    left: 10px;
    top: 25px;
    visibility: hidden;
    opacity: 0;
  }

  &.error {
    label {
      color: $red;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    textarea {
      color: $red;
      border: 1px solid $red;


      &:focus{
        border-color: $redActive;
      }
    }

    .input-text {
      display: block;
      color: $red;
    }

  }
}

label {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  transition: opacity 0.3s, color 0.3s;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"], textarea {
  display: block;
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  border: 1px solid $grayBg;
  background-color: $grayBg;
  outline: none;
  padding: 12px 20px;
  transition: border-color 0.3s, color 0.3s, opacity 0.3s;
  margin-bottom: 3px;

  &::-webkit-input-placeholder {
    color: #B3B3B3;;
  }

  &::-moz-placeholder {
    color: #B3B3B3;;
  }

  &:-ms-input-placeholder {
    color: #B3B3B3;;
  }

  &:focus {
    border-color: $blue;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus::-moz-placeholder {
    color: transparent;
  }

  &:focus:-ms-input-placeholder {
    color: transparent;
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  height: 44px;
}

textarea {
  width: 100%;
  min-height: 84px;
  resize: none;
}

.input-wrap{
  width: calc(100% - 50px);
  position: relative;
}

.input-content{
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000;

  .counter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 44px;
  }
}


/* Forms pages */
.form-header{
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-bottom: 40px;
}

.form-wrap{
  margin-bottom: 50px;
}