@import "../../../assets/css/_colors.scss";

.page-wrapper{
  position: relative;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 116px;

  .page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
  }

  .page-content{
    min-width: 1140px;
    padding-top: 32px;
    padding-bottom: 40px;

    &.hollow{
      padding: 0;

      .hollow-text{
        position: absolute;
        left: 0;
        top: calc((100vh - 94px)/2);
        width: 100%;
        font-size: 48px;
        line-height: 54px;
        letter-spacing: 0.35px;
        color: $darkGray;
        text-align: center;
      }
    }
  }

  .page-footer{
    height: 28px;
  }
}